<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>乐酷舞蹈QQ：3232371958</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, 
	initial-scale=1.0">
	<link rel="stylesheet" href="styles/index.css">
</head>
<body>
	<div class="z-box">
		<!-- 搜索栏 -->
		<header class="z-header">
			<section class="z-search-box">
				<div class="z-logo"></div>
				<div class="z-search">
					<input type="text" id="search">
					<i class="icon-search"></i>
				</div>
				<div class="z-user-box">
					<div class="z-user"></div>
				</div>
			</section>
<!-- 			<section class="z-hot" style="display: none;">		
				<h2 class="tip">大家都在看</h2>
				<ul></ul>
				<div class="close"><a href="javascript:;">关闭</a></div>
			</section> -->
			<section class="z-search-data" style="display: none;">		
				<ul>
					<li class="tip">
						没有相应结果！
					</li>
				</ul>
			</section>
			<!-- tab栏 -->
			<nav class="z-tab">
				<div class="z-nav-box">
					<div class="z-nav">
						<ul>
							<li><a href="javascript:;" data-target="play" class="play">乐酷</a></li>
							<li class="current"><a href="javascript:;" data-target="choice" data-id="">精选</a></li>
							<li><a href="javascript:;" data-target="drama" data-id="97">剧集</a></li>
							<li><a href="javascript:;" data-target="film" data-id="96">电影</a></li>
							<li><a href="javascript:;" data-target="variety" data-id="85">综艺</a></li>
							<li><a href="javascript:;" data-target="Comic" data-id="100">动漫</a></li>
							<li><a href="javascript:;" data-target="music" data-id="95" data-num="700008">音乐</a></li>
							<li><a href="javascript:;" data-target="game" data-id="99" data-num="700008">游戏</a></li>
							<li><a href="javascript:;" data-target="car" data-id="104" data-num="700008">汽车</a></li>
							<li><a href="javascript:;" data-target="education" data-id="87">教育</a></li>
							<li><a href="javascript:;" data-target="documentary" data-id="84">纪实</a></li>
							<li><a href="javascript:;" data-target="entertainment" data-id="86" data-num="700008">娱乐</a></li>
							<li><a href="javascript:;" data-target="sports" data-id="98" data-num="700008">体育</a></li>
							<li><a href="javascript:;" data-target="science" data-id="105" data-num="700008">科技</a></li>
							<li><a href="javascript:;" data-target="funny" data-id="94" data-num="700008">搞笑</a></li>
							<li><a href="javascript:;" data-target="life" data-id="103" data-num="700008">生活</a></li>
							<li><a href="javascript:;" data-target="news" data-id="91" data-num="700008">资讯</a></li>
							<li><a href="javascript:;" data-target="selfie" data-id="176" data-num="700008">自拍</a></li>
							<li><a href="javascript:;" data-target="songdance" data-id="95">歌舞</a></li>
						</ul>
					</div>
					<div class="z-arrow"></div>
				</div>
				<div class="z-nav-block" style="display: none;">
					<!-- <ul class="clearfix">
						<li><a href="javascript:;">乐酷</a></li>
						<li class="current"><a href="javascript:;">剧集</a></li>
						<li><a href="javascript:;">电影</a></li>
						<li class="arrow-up"><a href="javascript:;"><i class="icon-arrow-up"></a></li>
						<li><a href="javascript:;">综艺</a></li>
						<li><a href="javascript:;">动漫</a></li>
						<li><a href="javascript:;">音乐</a></li>
						<li><a href="javascript:;">游戏</a></li>
						<li><a href="javascript:;">汽车</a></li>
						<li><a href="javascript:;">教育</a></li>
						<li><a href="javascript:;">纪实</a></li>
						<li><a href="javascript:;">娱乐</a></li>
						<li><a href="javascript:;">体育</a></li>
						<li><a href="javascript:;">科技</a></li>
						<li><a href="javascript:;">搞笑</a></li>
						<li><a href="javascript:;">生活</a></li>
						<li><a href="javascript:;" data-target="news" data-id="91" data-num="700008">资讯</a></li>
						<li><a href="javascript:;" data-target="selfie" data-id="176" data-num="700008">自拍</a></li>
						<li><a href="javascript:;" data-target="selfie" data-id="176" data-num="700008">精选</a></li>
					</ul> -->
				</div>
			</nav>
		</header>
		<!-- 展示区块 -->
		<section class="z-show">
			<!-- 轮播图 -->
			<section class="z-carousel">
				<ul class="z-imgs">
					<li><img src="images/c1.jpg" alt=""></li>
					<li><img src="images/c2.jpg" alt=""></li>
					<li class="hidden"><img src="images/c3.jpg" alt=""></li>
					<li class="hidden"><img src="images/c4.jpg" alt=""></li>
					<li class="hidden"><img src="images/c5.jpg" alt=""></li>
				</ul>
				<div class="z-circle"></div>
			</section>
			<!-- tab区块 -->
			<section class="z-list">
			</section>
			</section>
		<!-- 播放区块 -->
		<section class="z-play hidden">
			<div class="z-play-box">
				<iframe class="z-video"></iframe>
			</div>
			<div class="z-episodes">
				<h2>选集<a href="javascript:;" class="z-episodes-choice">快速选集</a></h2>
				<div class="z-episodes-list">
					<!-- <ul>
						<li><a href="javascript:;">1</a></li>
						<li><a href="javascript:;">3</a></li>
						<li><a href="javascript:;">4</a></li>
						<li><a href="javascript:;">5</a></li>
						<li><a href="javascript:;">6</a></li>
						<li><a href="javascript:;">7</a></li>
						<li><a href="javascript:;">8</a></li>
						<li><a href="javascript:;">9</a></li>
					</ul> -->
				</div>
			</div>
			<div class="z-abstract">
				<!-- <h2>分集剧情</h2>
				<div class="z-abstract-list">
					<ul>
						<li>
							<img src="https://vthumb.ykimg.com/054102015B5B56480000015D0E04DF0E" alt="">
							<div class="abstract">
								<div class="header">
									<h3 class="overflow-ellipsis">武动乾坤之英雄出少年 02</h3>
									<span>3.4亿次播放</span>
								</div>
								<p>
									林动是林氏宗族林啸的儿子，因林啸病重，林动专门出来打拳为父亲筹钱买药。不料林动在竞技场连续赢得比赛，引起了雷家二少爷雷厉的关注。远古时期被符祖封印的异魔冲破封印，遍寻散落世间的祖符，想要重启位面之门。为了阻止异魔，道宗宗主应玹子、九天太清宫宫主沈清和元门执事长老穆芊芊齐聚商议对策。绫清竹擅自前往青阳镇除魔，应欢欢得知后也追随前往。林动得罪雷家的事被家族得知，族长林穆严厉斥责了他，但林动坚决不认错。
								</p>
							</div>
						</li>
					</ul>
				</div> -->
			</div>
<!-- 			<div class="z-related">
				<h2>相关周边</h2>
				<div class="z-related-list">
					<ul>
						<li>
							
						</li>
					</ul>
				</div>
			</div> -->
			<div class="z-comment">
				<h2>网络评论</h2>
				<div class="z-comment-list">
					<ul>
						<li>
							<img src="https://static.youku.com/user/img/avatar/50/24.jpg" alt="">
							<div class="content-box">
								<h4 class="overflow-ellipsis">盘丝瑶瑶</h4>
								<p class="comment-time">2018年05月10日</p>
								<p class="comment-content">我决定从第一集再好好看一遍求点赞看主页pk赛车飙车</p>
							</div>
						</li>
						<li>
							<img src="https://static.youku.com/user/img/avatar/50/24.jpg" alt="">
							<div class="content-box">
								<h4 class="overflow-ellipsis">盘丝瑶瑶</h4>
								<p class="comment-time">2018年05月10日</p>
								<p class="comment-content">我决定从第一集再好好看一遍求点赞看主页pk赛车飙车</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- 选集模态框 -->
			<div class="z-modal hidden">
				<div class="modal-content">
					<div class="modal-content-header">
						<h2><a href="javascript:;" data-target="modal-episodes" class="choice selected">选集</a><a href="javascript:;" class="abstract" data-target="modal-abstract">分集剧情</a></h2>
						<a href="javascript:;" class="model-close">关闭</a>
					</div>
					<div class="modal-list">
						<ul class="modal-episodes">
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>5</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>5</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>4</li>
							<li>5</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>4</li>
							<li>5</li>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
						</ul>
						<ul class="modal-abstract hidden">
							<li>
								<h3>第001话 漩涡鸣人登场！</h3>
								<p>林动是林氏宗族林啸的儿子，因林啸病重，林动专门出来打拳为父亲筹钱买药。不料林动在竞技场连续赢得比赛，引起了雷家二少爷雷厉的关注。远古时期被符祖封印的异魔冲破封印，遍寻散落世间的祖符，想要重启位面之门。为了阻止异魔，道宗宗主应玹子、九天太清宫宫主沈清和元门执事长老穆芊芊齐聚商议对策。绫清竹擅自前往青阳镇除魔，应欢欢得知后也追随前往。林动得罪雷家的事被家族得知，族长林穆严厉斥责了他，但林动坚决不认错。</p>
							</li>
							<li>
								<h3>第001话 漩涡鸣人登场！</h3>
								<p>林动是林氏宗族林啸的儿子，因林啸病重，林动专门出来打拳为父亲筹钱买药。不料林动在竞技场连续赢得比赛，引起了雷家二少爷雷厉的关注。远古时期被符祖封印的异魔冲破封印，遍寻散落世间的祖符，想要重启位面之门。为了阻止异魔，道宗宗主应玹子、九天太清宫宫主沈清和元门执事长老穆芊芊齐聚商议对策。绫清竹擅自前往青阳镇除魔，应欢欢得知后也追随前往。林动得罪雷家的事被家族得知，族长林穆严厉斥责了他，但林动坚决不认错。</p>
							</li>
							<li>
								<h3>第001话 漩涡鸣人登场！</h3>
								<p>林动是林氏宗族林啸的儿子，因林啸病重，林动专门出来打拳为父亲筹钱买药。不料林动在竞技场连续赢得比赛，引起了雷家二少爷雷厉的关注。远古时期被符祖封印的异魔冲破封印，遍寻散落世间的祖符，想要重启位面之门。为了阻止异魔，道宗宗主应玹子、九天太清宫宫主沈清和元门执事长老穆芊芊齐聚商议对策。绫清竹擅自前往青阳镇除魔，应欢欢得知后也追随前往。林动得罪雷家的事被家族得知，族长林穆严厉斥责了他，但林动坚决不认错。</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.staticfile.org/artTemplate.js/3.0.1/template.js" crossorigin="anonymous"></script>
<!-- <script id="hot_word" type="text/html">
	{{each s as word i}}
		<li item="{{i+1}}"><a href="javascript:;">{{word.w}}</a></li>
	{{/each}}
</script> -->
<script id="movie_list" type="text/html">
	{{each data as item}}
		<li>
		    <a href="javascript:;" data-sid="{{item.indexurl.substr(item.indexurl.indexOf("id_") + 3)}}" data-vlink="{{item.homepageurl}}">
				<img src={{item.avatar}} alt="{{item.title}}">
				<h2 class="overflow-ellipsis">{{item.title}}</h2>
			</a>
			<p class="overflow-ellipsis">
				{{each item.person as actor i}}
					{{actor.name}}
					{{if i!=item.person.length-1}}/{{/if}}
				{{/each}}
			</p>
		</li>
	{{/each}}
</script>
<script id="search_data" type="text/html">
		{{if res.hi}}
			<li class="video" data-vlink="{{res.u}}" data-sid="{{res.si}}">
			<img src="{{res.hi}}" alt="{{res.n}}">
			<div class="video-intro">
				<h2 class="overflow-ellipsis">{{res.n}}</h2>
				<p class="overflow-ellipsis">{{res.y}} {{res.a}}{{res.c}} {{res.ds}}</p>
				<p class="episodes">
					{{each res.e as epi i}}
						{{if i<2}}
							<a href="javascript:;" data-sid="{{res.si}}" data-vlink="{{epi.u}}">{{epi.s}}</a>
						{{/if}}
					{{/each}}
						<a href="javascript:;" data-sid="{{res.si}}">
							{{if res.e}}
								...
							{{else}}
								播 放
							{{/if}}
						</a>
					{{each res.e as epi j}}
						{{if j>1}}
							<a href="javascript:;"  data-sid="{{res.si}}" data-vlink="{{epi.u}}">{{epi.s}}</a>
						{{/if}}
					{{/each}}
				</p>
			</div>
			</li>
			<div class="close">关闭</div>
		{{else}}
			<li class="tip">{{res}}</li>
		{{/if}}
</script>
<script id="episodes_data" type="text/html">
	{{html}}
</script>
<script src="scripts/index.js"></script>
</html>